<template>
    <div width="100%">
      <router-link to="/samples/dataBinding">
        <a>data binding</a>
      </router-link>
      
      &nbsp;|
      &nbsp;
      <router-link to="/samples/drums">
        <a>Drums</a>
      </router-link>

      &nbsp;|
      &nbsp;
      <router-link to="/samples/cssVariables">
        <a>Css Variables</a>
      </router-link>
      <router-view/>
    </div>
</template>

<script>
export default {
  name: "Samples"
};
</script>

// Referencing a css file.
// It makes sense separating it into another file if there is an abudence of css rules
<style src="./samples.css" scoped></style>
