.textContainer {
    margin: 1em;
    background-color: var(--bg-color);
    opacity: var(--opacity);
    filter: blur(var(--blur));
}
div {
    color: var(--textColor);
}
.textContainer:hover {
  background-color: var(--bg-hover-color);
  font-size: var(--hover-font-size);
}
