<template>
    <div width="100%">
      <h1>Dummy sample</h1>

      <v-layout wrap flex align-center justify-left v-for="product in products" :key="product.id">
        <v-flex xs2 class="text-sm-left">
          {{ product.name }} 
        </v-flex>
        <v-flex xs3>
          <v-text-field  label="Quantity" type="number" v-model.number="product.quantity" />
        </v-flex>
        <v-flex xs4>
          <v-btn @click="product.quantity ++">
            Add
          </v-btn>
        </v-flex>
        <v-flex xs2 class="text-sm-right" wrap="">
          <label v-if="product.quantity === 0">Out of stock</label>
        </v-flex>
      </v-layout>
      <h3>Total amount of products available: {{ totalProducts }}</h3>

      <br/>
      <br/>
      <br/>
      
      <!-- Class binding -->
      <!-- Insert the alert css class to this div only if the showAlert property returns a trufy value -->
      <div v-bind:class="{ cssClass1: showDiv }"></div>

      <!-- Multiple class bindings -->
      <div v-bind:class="{ cssClass1: showDiv, cssClass2: colorDiv }"></div>

      <!-- Style binding -->
      <!-- Camel case -->
      <div v-bind:style="{ backgroundColor: divColor, width: divWidth, height: divHeight }"></div>
     
      <br/>
      <br/>
      <br/>

      <!-- data binding -->
      <v-text-field  label="Data binding" type="text" v-model="userInput"/>
      {{ userInput }}
    </div>
</template>

<script>
export default {
  name: "DataBinding",
  // data must be a function, so that each instance can maintain an independenct copy of the returned data object
  // if vue didn't have this rule changing data on one component would change the data of all components
  data() {
    return {
      showDiv: true,
      colorDiv: "yup",
      divColor: "red",
      divWidth: "100%",
      divHeight: "40px",
      userInput: "",
      urlParameter: this.$route.params.name,
      products: []
    };
  },
  computed: {
    totalProducts() {
      return this.products.reduce((sum, product) => sum + product.quantity, 0);
    }
  },
  created() {
    fetch("https://api.myjson.com/bins/74l63")
      .then(response => response.json())
      .then(data => (this.products = data.products.slice(0, 3)));
  }
};
</script>

// Referencing a css file.
// It makes sense separating it into another file if there is an abudence of css rules
<style src="./dataBinding.css" scoped></style>
