div {
  vertical-align: middle;
  text-align: center;
}

.cssClass1 {
    height: 40px;
    width: 100%;
    background-color: red;
    box-sizing: border-box;
}

.cssClass2 {
    border: 2px solid black;
}
