<template>
    <div width="100%" :data-key="data.keyCode">
      <kbd>{{ data.keyName }}</kbd>
      <span class="sound">{{ data.soundName }}</span>
    </div>
</template>

<script>
export default {
  name: "Card",
  props: ["data"],
};
</script>

