<template>
    <div width="100%">
        <h1>Let the beat begin</h1>
        <p>
            Inspried by <a href="https://github.com/wesbos/JavaScript30">JavaScript30 by wesbos</a> with a twist of vue.js
        </p>
        <div class="keys">
            <div v-for="item in sounds" :key="item.keyCode" @transitionend="removeTransition($event, item)" @click="playSound(item.keyCode)">
                <Card class="key" :data="item"></Card>
            </div>
        </div>
  
        <audio data-key="65">
            <source src="./sounds/clap.wav" >
        </audio>
        <audio data-key="83" >
            <source src="./sounds/hihat.wav">
        </audio>
        <audio data-key="68">
            <source src="./sounds/kick.wav">
        </audio>
        <audio data-key="70">
            <source src="./sounds/openhat.wav">
        </audio>
        <audio data-key="71">
            <source src="./sounds/boom.wav">
        </audio>
        <audio data-key="72">
            <source src="./sounds/ride.wav">
        </audio>
        <audio data-key="74">
            <source src="./sounds/snare.wav">
        </audio>
        <audio data-key="75">
            <source src="./sounds/tom.wav">
        </audio>
        <audio data-key="76">
            <source src="./sounds/tink.wav">
        </audio>
    </div>
</template>

<script>
import Card from "./Card.vue";
export default {
  name: "Drums",
  data() {
    return {
      sounds: [
        { keyCode: 65, keyName: "A", soundName: "clap" },
        { keyCode: 83, keyName: "S", soundName: "hihat" },
        { keyCode: 68, keyName: "D", soundName: "kick" },
        { keyCode: 70, keyName: "F", soundName: "openhat" },
        { keyCode: 71, keyName: "G", soundName: "boom" },
        { keyCode: 72, keyName: "H", soundName: "ride" },
        { keyCode: 74, keyName: "J", soundName: "snare" },
        { keyCode: 75, keyName: "K", soundName: "tom" },
        { keyCode: 76, keyName: "L", soundName: "tink" }
      ]
    };
  },
  methods: {
    removeTransition: function(e, key) {
      if (e.propertyName !== "transform") return;
      
      // when the transition finishes, remove the playing css class
      e.target.classList.remove("playing");
    },
    playSound: function(e) {
      const keyCode = e.keyCode || e;
      const audio = document.querySelector(`audio[data-key="${keyCode}"]`);
      const key = document.querySelector(`div[data-key="${keyCode}"]`);
      if (!audio) return;

      key.classList.add("playing");
      audio.currentTime = 0;
      audio.play();
    }
  },
  mounted: function() {
    const keys = document.querySelectorAll(".key");
    keys.forEach(key => key.addEventListener("transitionend", this.removeTransition));
    window.addEventListener("keydown", this.playSound);
  },
  components: {
    Card
  }
};
</script>

<style src="./drums.css"></style>

