.keys {
  display: flex;
  flex-wrap: wrap;
  user-select: none;
}

.key {
  border: 2px solid black;
  border-radius: 0.5rem;
  box-sizing: border-box;
  margin: 5px;
  transition: all 0.07s ease;
  background: rgba(0, 0, 0, 0.4);
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 55px;
}

.sound {
  color: #ffc600;
}
