<template>
  <div class="notFound">
      <h3>The page you requested was not found</h3>
   </div>
</template>

<script>
export default {
  name: "NotFound"
};
</script>

<style scoped>
.notFound {
  box-sizing: border-box;
  padding: 20px;
}
</style>
