<template>
  <div>
    <div>
      <!-- prevent page from reloding when calling addSkill -->
      <form @submit.prevent="addSkill">
          <v-text-field 
            label="Enter a skill..." 
            @focus="() => validate(skill)" 
            @blur="() => reset()" 
            dark outline 
            v-model="skill" 
            v-validate="'required|min:2|verifySkill'" 
            name="skill" 
            autocomplete="off"/>
        <transition name="alert-in" >
          <!-- The errors object is produced from the plugin vee-validate -->
          <p class="alert" v-if="errors.has('skill')">{{ errors.first('skill')}}</p>
        </transition>
      </form>
      <ul>
        <transition-group name="list" enter-active-class="animated bounceInUp" leave-active-class="animated bounceOutDown">
          <li v-for="(data, index) in skills" :key="index">
            {{data}}
            <i class="remove" v-on:click="removeSkill(index)">
              <v-icon class="removeSkillBtn" >remove_circle_outline</v-icon>
            </i>
          </li>
        </transition-group>
      </ul>
    </div>
   </div>
</template>
<script>
export default {
  // Name of the vue component
  name: "Skills",
  // data must be a function, so that each instance can maintain an independenct copy of the returned data object
  // if vue didn't have this rule changing data on one component would change the data of all components
  data() {
    return {
      skills: this.$store.state.skills,
      skill: ""
    };
  },
  methods: {
    addSkill() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$store.dispatch("addSkill", this.skill);
          this.skill = "";
          this.$validator.reset();
        } else {
          // Nope.
        }
      });
    },
    removeSkill(index) {
      this.$store.dispatch("removeSkill", index);
      this.$validator.reset();
    },
    validate(skill) {
       this.$validator.validateAll();
       return this.skills.indexOf(skill) > -1;
    },
    reset() {
      this.$validator.reset();
    },
  },
  created() {
    this.$validator.extend("verifySkill", {
      getMessage: () => `The skill ${this.skill} is already added.`,
      validate: value =>
        new Promise(resolve => {
          resolve({
            valid: !(this.skills.indexOf(value) > -1)
          });
        })
    });
  }
};
</script>

// Referencing a css file.
// It makes sense separating it into another file if there is an abudence of css rules
<style src="./skills.css" scoped></style>
