@import "https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css";

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  padding: 20px;
  font-size: 18px;
  border-left: 5px solid #3eb3f6;
  margin-bottom: 2px;
  color: #3e5252;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  background: #eeeeee;
}

li::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

li:hover {
  transform: scale(1.05, 1.05);
  border-left: 5px solid #f63e94;
}

li:hover::after {
    opacity: 1;
}

.container {
  box-shadow: 0px 0px 40px lightgray;
}

.alert {
  background: #333;
  box-shadow: 0 5px 15px rgba(253, 253, 253, 0.6);
  font-weight: bold;
  display: inline-block;
  padding: 5px;
  box-sizing: border-box;
  margin-top: -20px;
  position: absolute;
  border-radius: 5px;
}

.alert-in-enter-active {
  animation: bounce-in 0.5s;
}

.alert-in-leave-active {
  animation: bounce-in 0.5s reverse;
}

.remove {
  float: right;
  user-select: none;
}

.removeSkillBtn{
  cursor: pointer;
  transition: fill 0.2s ease-in;
  color: black;
}

.removeSkillBtn:hover{
  color: #f63e94;
  filter: drop-shadow( 0px 0px 1px #000 );
  animation: rotateAnimation infinite 2s linear;
}

@keyframes rotateAnimation {
  25% { transform: rotate(90deg); }
  50% { transform: rotate(180deg); }
  75% { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
