<template>
  <div class="about">
      <h3>The about page</h3>
   </div>
</template>

<script>
export default {
  name: "About"
};
</script>

<style scoped>
.about {
  box-sizing: border-box;
  padding: 20px;
}
</style>
