@import url("https://fonts.googleapis.com/css?family=Bubblegum+Sans:100:300,400,500,700,900|Material+Icons");

body,
html {
  background: #eeeeee;
  font-family: "Bubblegum Sans", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

/* This css rule is applied to vue router link which matches the current route */
a.router-link-exact-active {
  color: #42b983
}

@media only screen and (max-width: 1024px) {
  .view {
    width: 100%;
  }
}