<template>
  <div id="app">
    <v-app dark>
      <v-toolbar app flat>
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn flat @click="() => navigate(() => $router.push('/'))">
            <router-link to="/">Home</router-link>
          </v-btn>
           <v-btn flat @click="() => navigate(() => $router.push('/samples'))">
            <router-link to="/samples">Sample</router-link>
          </v-btn>
           <v-btn flat @click="() => navigate(() => $router.push('/about'))">
            <router-link to="/about">About</router-link>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-content>
        <v-container>
          <router-view/>
        </v-container>
      </v-content>

      <v-navigation-drawer temporary app v-model="drawer">
        <v-toolbar flat>
          <v-list>
            <v-list-tile>
              <v-list-tile-title class="title">
                Navigation
              </v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-toolbar>
        <v-divider/>
        <v-list class="pt-0">
          <v-list-tile @click="() => navigate(() => $router.push('/'))">
            <v-list-tile-action>
              <v-icon>home</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Home</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile @click="() => navigate(() => $router.push('/samples'))">
            <v-list-tile-action>
              <v-icon>star</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Sample</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile @click="() => navigate(() => $router.push('/about'))">
            <v-list-tile-action>
              <v-icon>info</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>About</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>

      <v-footer app>
        <v-layout justify-center>
          <v-flex text-xs-center>
            <strong>Vue, Vuex, Vue router, Vuetify</strong>
          </v-flex>
        </v-layout>
      </v-footer>
    </v-app>
  </div>
</template>

<script>
export default {
  app: "app",
  // Since we are using the router we don't have to import any components here
  // However, components that directly use other components need to import then first
  components: {},
  data() {
    return {
      drawer: false
    };
  },
   methods: {
    navigate(f) {
      f();
      this.drawer = false;
    }
  }
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style src="./css/app.css"></style>